.register-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 20px;
}

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
